$app-blue: #3399C2;

html {
  box-sizing: border-box;
  font-size: 120%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width:100%;
  color: #000;
  background-color: #fff;
  h1, h2, h3, h4, h5, h6{
    text-align: center;
  }
  p {
    text-align: left;
    font-size: 16px;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  li, a {
    font-size: 16px;
  }
  hr {
    height: 4px;
    width: 90px;
    margin: 40px auto;
    border: 0 none;
    background-color: $app-blue;
  }
  @media all and (min-width: 600px) {
    p {
      text-align: left;
      font-size: 18px;
    }
    h1 {
      font-size: 54px;
    }
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 36px;
    }
    h4 {
      font-size: 30px;
    }
    h5 {
      font-size: 24px;
    }
    h6 {
      font-size: 18px;
    }
    li, a {
      font-size: 18px;
    }
  }
  .bold {
    font-weight: 800;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}
.shadow {
  box-shadow: 0 0 5px #888888;
  transition: all 0s ease-in !important;
}
.center {
  text-align: center;
  p {
    text-align: center;
  }
}

.bg {
  background-image:url('../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position:bottom;
  background-size:cover;
  height:100%;
  width:100%;
}

header, #content {
  width: 100%;
  background-color: transparent;
}
footer {
  width: 100%;
  background-color: #EAEAEA;
  position: relative;
  margin: 0;
  box-shadow: 0 0 5px #888;
  #footer-inner {
    color: #000;
    text-align: center;
    font-size: 16px;
    @media all and (max-width: 400px) {
      font-size: 12px;
    }
    a {
      text-decoration: none;
      color: #000;
      font-size: inherit;

    }
    p {
      margin-top: 10px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
    }
    #contact-buttons {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      a {
        margin: 6px 4px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        img {
          width: 30px;
        }
        .twitter {
          width: 25px;
          margin: 6px 4px 0 2px;
        }
        &:hover {
          opacity: 0.7;

        }
      }
    }
  }

}

/* Menu View */
.menu-fade-in {
  opacity: 1 !important;
}
#menu-bar {
  opacity: 1;
  text-align:center;
  position: relative;
  width: 100%;
  height:50px;
  z-index: 50;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  ul {
    margin-top: 10px !important;
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  }
  li {
    display:inline-block;
    width:8rem;
    height:36px;
    margin-bottom:-10px;
    a {
      padding-bottom: 4px;
      border-bottom: 4px solid $app-blue;
      display: block;
      color: #000000;
      text-decoration: none;
      outline: none !important;
      transition: all 0.2s ease-in-out;
    }
    a:hover {
      color: $app-blue;
      transition: all 0.2s ease-in-out;
     }
    &:not(.selected) {
      a:hover {
        padding-bottom: 0;
        color: $app-blue;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .menu-btn {
    width: 70px;
    line-height: 36px;
    background: inherit;
    margin-right: -4px;
    @media all and (min-width: 600px) {
      width: 100px;
    }
    @media all and (min-width: 800px) {
      width: 120px;
    }
  }
  .selected {
    padding-bottom: 0;
    border-bottom: solid 4px $app-blue;
  }

}
/* End Menu View */

/* Home View */
#home {
  color: #fff;
  hr {
    background-color: #fff;
  }
  #welcome {
    margin: 200px auto 600px auto;
  }
  #intro {
    padding-top: 40px;
    margin: 0 auto 60px auto;
    max-width: 500px;
    @media all and (min-width: 600px) {
      margin-bottom: 180px;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 280px;
    }
    .enter {
      width: 200px;
      text-align: center;
      #enter-btn {
        line-height: 3;
        color: #fff;
        text-decoration: none;
        font-size: 40px;
        position: relative;
        padding: 5px 20px;
        border: 2px solid #fff;
        border-radius: 20px;
        transition: all 0.25s ease-in-out;
        &:hover {
          background-color:#686868 ;
          color: $app-blue;
          border-color: $app-blue;
          opacity:0.9;
          filter:alpha(opacity=90); /* For IE8 and earlier */
        }
      }
    }
  }
  #home-footer {
    margin: 0 auto 8px auto;
    p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
    }
  }
  #down-arrow {
    position: absolute;
    left: 50%;
    width: 66px;
    padding: 0 20px;
    margin-top: 60px;
    margin-left: -33px;
    font-size: 44px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    text-align: center;
    &:hover {
      background-color:#686868 ;
      color: $app-blue;
      border-color: $app-blue;
      opacity:0.8;
      filter:alpha(opacity=80); /* For IE8 and earlier */
      transition: all 0.25s ease-in-out;
    }
  }
  .offset-arrow {
    margin-top: 1000px !important;
  }
}
/* End Home View */

/* About View */
#about {
  margin: 60px auto 40px auto;
  max-width: 500px;
  @media all and (min-width: 600px) {
    margin-bottom: 180px;
  }
  li {
    line-height: 1.8;
  }
  h3 {
    a {
      font-size: 30px;
      text-decoration: none;
      &:hover {
        color: darken($app-blue, 1);
      }
    }
  }
}
/* End About View */

/* Project View */
#projects {
  margin: 60px auto 40px auto;
  .project-container {
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &:not(last-child) {
      margin-bottom: 30px;
    }
    .img-column {
      order: 1;
      width: 100%;
      img {
        width: 100%;
      }
    }
    @media all and (max-width: 599px) {
      .special {
        width: 60% !important;
        margin: auto 20%;
      }
    }
    @media all and (min-width: 600px) {
      .img-column {
        width: 33%;
        img {
          margin-top:10px;
          width: 100%;
        }
      }
    }
    .column {
      order: 2;
      width: 100%;
      margin-top: 16px;
      p, span, li {
        font-size: 16px;
      }
      h4 {
        font-size: 20px;
      }
    }
    @media all and (min-width: 600px) {
      .column {
        margin-top: 0;
        width: 50%;
        p, span, li {
          font-size: 16px;
        }
      }
      h4 {
        text-align: left;
        font-size: 30px;
      }
    }
  }
  @media all and (min-width: 600px) {
    .project-container {
      box-shadow: 0 0 5px #000;
    }
  }
}
/* End Projects View */

/* Contact View */
#contact {
  margin: 60px auto 40px auto;
  max-width: 600px;
  @media all and (min-width: 600px) {
    margin-bottom: 180px;
  }
  a {
    text-decoration: none;
  }
}
/* End Contact View */

/* Whole Site */
.tag-field {
  cursor: default;
  .tag {
    display: inline-block;
    text-align: center;
    margin: 6px auto 0 auto;
    padding: 3px;
    min-width: 110px;
    height: 36px;
    background-color: $app-blue;
    color: #ecf0f1;
    font-weight: 700;
    vertical-align: middle;
    line-height: 30px;
    &:hover {
      background-color: lighten($app-blue, 5);
    }
  }
}

/* End Whole Site */