/* Clearfix
   ========================================================================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

html {
  font-size: 75%;
  font-weight: 400;
}

@media (min-width: 40rem) {
  html { font-size: 100%; }
}



body {
	width:100%;
	margin:0px;
	background:#FAFAFA;

}

figure {
display: block;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.container {
	margin: 0 auto;
	max-width: 40rem;
	width: 90%;
}

.wide-container {
	margin: 0 auto;
	max-width:55rem;
	width:90%;
}

.proj-container {
	margin:5rem 0;
}

@media (min-width:40rem){
	.proj-container {
	margin:5rem 0;
	padding:1rem;
	 box-shadow: 0px 0px 12px #888888;
}
}

@media (min-width:50rem){
	.proj-container {
	margin:5rem 0;
	padding:3rem;
	 box-shadow: 0px 0px 12px #888888;
}
}

.column {
    float: left;
    margin: 0;

}

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 24.95% }
.column.fourth.hide { overflow-y:hidden; }
.column.fifth { width: 20%;}
.column.flow-opposite { float: right; }


.column.image-des {
	width:100%;
	float:none;
}

@media (min-width:40rem) {
	.column.image-des {
		width:50%;
		float:left;
	}
}

.img-column {
	margin:0;
	width:100%;
}

@media (min-width:40rem) {
	.img-column {
		width:50%;
		float:left;
	}
}

.img-container {
	margin:0;
	
}

@media (min-width:40rem) {
	.img-container {
		max-width:80%;
		margin-left:0;
	}
}

.img-container-special {
	margin:0;
	
}

@media (min-width:65rem) {
	.img-container-special {
		max-width:40%;
		margin-top:2rem;

	}
}



#homeimage {
	background-image:url('http://i.imgur.com/CamJhQO.jpg');
	background-repeat: no-repeat;
	background-position:bottom;
	background-size:cover;
	height:100%;
	width:100%;
	background-color:#888888;
	margin-top:-9px;
	margin-right:-2px;
}

#home {
	width:100%;
	position:relative;
	text-align:center;
	padding-top:140px;	
	margin-bottom:120px;
	padding-bottom:10px;
	text-align:center;
	color:#FAFAFA;
	font-family:'century gothic', helvetica, sans-serif;
}

@media (min-width: 40rem) {
#home { padding-top:260px;; }
}
	#home h1 {
		font-family:'century gothic', helvetica, sans-serif;
		font-size: 4rem;
	}

	#home hr {
		height:4px;
		width:90px;
		margin: 2.75em auto 3.25em;
		border: 0 none;
		background-color:#FAFAFA;
	}

	#home p {
		font-size: 18px;
	}

.downarrow {
   	width: 34px;
	height: 60px;
	left: 49%;
	line-height: 40px;
	margin-left: -30px;
	margin-top: 100%;
	border: 2px solid #FAFAFA;
	border-radius: 50px;
	color: #FAFAFA;
	text-decoration: none;
	font-size: 3.5rem;
	padding: 8px 18px 2px 18px ;
	position: absolute;
}

@media (min-width: 40rem) {
	.downarrow { 
		/*padding: 10px 25px 4px 16px;*/
		position:absolute;
		margin-left:-34px;
	}
}

.downarrow:hover {
	background-color:#686868 ;
	color: #3399CC;
	border-color: #3399CC;
	 /* For IE8 and earlier */
		-webkit-transition: all .25s ease-in 0s;
    	-moz-transition: all .25s ease-in 0s;
    	-o-transition: all .25s ease-in 0s;
    	transition: all .25s ease-in 0s;
}

.arrowanim{
    margin-top:3%;
	-webkit-transition: all 1.6s ease-in-out;
	-moz-transition: all 1.6s ease-in-out;
	-o-transition: all 1.6s ease-in-out;
	transition: all 1.6s ease-in-out;
}

.arrowtrans {
	-webkit-transition: all .25s ease-in 0s;
    -moz-transition: all .25s ease-in 0s;
    -o-transition: all .25s ease-in 0s;
    transition: all .25s ease-in 0s;
}

#homesecond {
	width:100%;
	height:auto;
	position:relative;
	color:#FAFAFA;
	margin-top: 580px;
}


	#homesecond h1 {
		text-align:center;
		padding-top:20px;
		font-family:'century gothic', helvetica, sans-serif;
		font-size:3rem;
	}

	@media (min-width: 40rem) {

		#homesecond h1 {
		padding-top:100px;
	}
	}

	#homesecond hr {
		height:4px;
		width:90px;
		margin: 2.75em auto 3.25em;
		border: 0 none;
		background-color:#FAFAFA;
	}

	#homesecond > p {
		font-family:'century gothic', helvetica, sans-serif;
		font-size:1.2rem;
		text-align: left;
	}

#arrowwrapper {
	width: 40%;
	height: auto;
	display: block;
	text-align: center;
	margin-left: 30%;

}

.rightarrow {
	line-height: 3;
	color: #FAFAFA;
	text-decoration: none;
	font-size: 400%;
	position: relative;
	padding-bottom: 5px;
	padding-left: 26px;
	padding-right: 20px;
	border:2px solid #FAFAFA;
	border-radius:20px;
	-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
}

	.rightarrow:hover {
		background-color:#686868 ;
		color: #3399CC;
		border-color: #3399CC;
		opacity:0.9;
		filter:alpha(opacity=90); /* For IE8 and earlier */
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}

#homefoot {
	margin-top:280px;
	padding-top:10px;
	clear:both;	
	background:inherit;
	display:block;
	position:relative;
}

	#homefoot p {
		font-family:'century gothic', helvetica, sans-serif;
		font-size:1.1rem;
		color:#FAFAFA;		
	}

.frontbar {
	opacity:0; 
	margin-top:8px;
	-webkit-transition: all 1.5s ease-in 0s;
		-moz-transition: all 1.5s ease-in 0s;
		-o-transition: all 1.5s ease-in 0s;
		transition: all 1.5s ease-in 0s;
}

.menu-container {
	width:1005;
}

#menubar {
    text-align:center;
    position: relative;
    background:#FAFAFA;
    width: 100%;
    height:40px;
    box-shadow: 0px 0px 5px #888888; 
    padding-top:10px;
    z-index:1;
    overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;  

}

	#menubar ul {
		margin-top: .4px;
		list-style: none;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 0px;
	}

    #menubar li {       
        display:inline-block;
        width:8rem;
        height:36px;
        margin-bottom:-10px;  
        font-size:1.2em;
    }
    
	#menubar li.button {                
        width:6rem;
        line-height:36px;
        background: inherit;
        margin-right:-4px;
    }
    

    @media (min-width: 40rem) {
    #menubar li.button {                
        width:8rem;
        line-height:36px;
        background: inherit;
        margin-right:-4px;
    	}
    }

    #menubar li.buttonselected {
    	margin-right:-4px;
        border-bottom: solid 4px #3399CC;
        background: inherit;
        line-height:28px;
        width:6rem;
    }

    @media (min-width: 40rem) {
    #menubar li.buttonselected {
    	margin-right:-4px;
        border-bottom: solid 4px #3399CC;
        background: inherit;
        line-height:28px;
        width:8rem;
    	}
  	}
    #menubar a { 
        padding-bottom:4px;
    	border-bottom: 4px solid #3399CC;
    	display:block; 
    	color:#000000; 
    	text-decoration:none; 
    	
    	font-family: 'Lato','century gothic', helvetica, sans-serif;
    -webkit-transition: all .2s ease-in-out;
    	-moz-transition: all .2s ease-in-out;
    	-o-transition: all .2s ease-in-out;
    	transition: all .2s ease-in-out;
    }

    #menubar li.button a:hover {
    	color: #3399CC;
        padding-bottom:0px;    
    	-webkit-transition: all .2s ease-in-out;
    	-moz-transition: all .2s ease-in-out;
    	-o-transition: all .2s ease-in-out;
    	transition: all .2s ease-in-out;
    }

    #menubar li.buttonselected a:hover {
    	color:#3399CC;
    	-webkit-transition: all .2s ease-in-out;
    	-moz-transition: all .2s ease-in-out;
    	-o-transition: all .2s ease-in-out;
    	transition: all .2s ease-in-out;
    }

.page {
	
	text-align:center;
	display:block;
    position:relative;
    height:100%;
    margin-bottom:-30px;
    padding-top:1px;
    width: 100%;
    background:#FAFAFA;
}

	.page h1 {
		font-family:'century gothic', helvetica, sans-serif;
		font-size:64px;
	}

.footer {
	position: relative;
	clear:both;
	height:120px;
    width: 100%;
	background:#F2F2F2;
	box-shadow: 0px 0px 5px #888888;
	border:solid 0px;
	vertical-align:baseline;
} 

	.footer p {
		white-space:pre-wrap;
		text-align:center;
		font-family: 'Lato','century gothic', helvetica, sans-serif;
		font-size: 1.1rem;
		padding-top:50px;
	}

	.footer a {
		text-align:center;
		font-family: 'Lato','century gothic', helvetica, sans-serif;
		font-size: 16px;
		padding-top: 50px;
		text-decoration:none;
	}

#about {
	display:block;
	height:auto;
	width:100%;
	text-align:left;
	margin-top:90px;	
	margin-bottom:120px;
	background:inherit;
	padding-bottom:10px;
	font-family:'century gothic', helvetica, sans-serif;
}

	#about hr {
		height:4px;
		width:90px;
		margin: 2.75em auto 3.25em;
		border: 0 none;
		background-color:#3399CC;
	}

	#about h1 {
		text-align:center;	
		font-size:3.5rem;
	}

	#about ul {
	}

	#about li {
		font-size:1.5rem;
		margin:1em .2em;
	}

	#about a {
		text-decoration: none;
		font-size: 2em;
		line-height: 50px;
		color: #3399CC;
		white-space:nowrap;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}

	#about a:hover {
		opacity:0.8;
		filter:alpha(opacity=80); /* For IE8 and earlier */
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}
	
	#about p {
		padding-top:1rem;
		text-align:center;
	}

#projects {
	display:block;
	height:auto;
	width:100%;
	margin-top:90px;	
	margin-bottom:120px;
	background:inherit;
	padding-bottom:10px;
	font-family:'century gothic', helvetica, sans-serif;
	text-align:left;
}

	#projects hr {
		height:4px;
		width:90px;
		margin: 2.75em auto 3.25em;
		border: 0 none;
		background-color:#3399CC;
	}

	#projects h1 {
		text-align:center;
		font-size:3.5rem;
	}

	#projects p {
		text-align:left;
		font-size: 1.3em;
	}

.image-des h3 {
	text-align:center;
	margin-top:2rem;
	font-size:1.4rem;
}

@media (min-width:40rem) {
	.image-des h3 {
		text-align:left;
		margin-top:0;
		font-size:1.2rem;
	}
}

#home-project {
	margin-top:0;
	max-width:100%;
	max-height:100%;
}

#sm-project {
	max-width:100%;
	max-height:100%;

	-webkit-transition: all .3s ease-in-out;
    	-moz-transition: all .3s ease-in-out;
    	-o-transition: all .3 ease-in-out;
    	transition: all .3s ease-in-out;
}

#grocery-project {
	margin-left:30%;
	max-width:40%;
		-webkit-transition: all .3s ease-in-out;
    	-moz-transition: all .3s ease-in-out;
    	-o-transition: all .3 ease-in-out;
    	transition: all .3s ease-in-out;
}

#WP-project {
	max-width:100%;
	max-height:100%;
	-webkit-transition: all .3s ease-in-out;
    	-moz-transition: all .3s ease-in-out;
    	-o-transition: all .3 ease-in-out;
    	transition: all .3s ease-in-out;
}

@media (min-width:40rem) {
	#grocery-project {
		max-width:50%;
		-webkit-transition: all .3s ease-in-out;
    	-moz-transition: all .3s ease-in-out;
    	-o-transition: all .3 ease-in-out;
    	transition: all .3s ease-in-out;
	}
}

@media (min-width:40rem) and (max-width:65rem) {
	#home-project {
		margin-top:20%;
	}
	#grocery-project {
		margin-left:25%;
		margin-top:6%;

	}
}

@media (min-width:65rem) {
	#home-project {
	-webkit-transition: all .3s ease-in-out;
    	-moz-transition: all .3s ease-in-out;
    	-o-transition: all .3 ease-in-out;
    	transition: all .3s ease-in-out;
    }
    #grocery-project {
    	margin-left:5rem;
		
		margin-top:-60rem;
		max-width:100%;
		

	}
}



@media (min-width:65rem){

 #home-project:hover, #sm-project:hover, #grocery-project:hover, #WP-project:hover {
 	opacity:0.6;
		filter:alpha(opacity=60); 
		-webkit-transition: all .3s ease-in-out;
    	-moz-transition: all .3s ease-in-out;
    	-o-transition: all .3 ease-in-out;
    	transition: all .3s ease-in-out;
 }

}



.tint {

}
.p1 {
	
}
.p2 {
	
}
.p3 {
	
}
.p4 {
	
}

@media (min-width:65rem){
	.tint {
		background:#000;
	}
	.p1 {
		height:11.15rem;
		margin-top:20%;
		width:100%;
	}
	.p2 {
		height:16.3rem;
		width:100%;
	}
	.p3 {
		
		margin-left:5rem;
		width:9.7rem;
		height:18.3rem;
		margin-bottom:-1rem;

	}
	.p4 {
		height:10.81rem;
		width:100%;
	}
}

 



#coninfo {
	display:block;
	height:auto;
	width:100%;
	margin-top:90px;	
	background:inherit;
	padding-bottom:10px;
	text-align:center;
	font-family:'century gothic', helvetica, sans-serif;
}	

	#coninfo hr {
		height:4px;
		width:90px;
		margin: 2.75em auto 3.25em;
		border: 0 none;
		background-color:#3399CC;
	}
	
	#coninfo h1 {
		font-size: 3.5rem;
	}

	#coninfo p {
		font-size: 1.4rem;
		padding-bottom: 20px;
		text-align: left;
	}

	#coninfo h3 {
		font-size:32px;
		color:#3399CC;
	}

#messagecontainer {
	text-align:center;
	margin-bottom:50px;
}

#contactbuttons {
	clear: both;
	height: auto;
	width: 100%;
	display: block;
	margin-bottom: 70px;
	position: relative;
	border: solid 0px;
}

	#contactbuttons a {
		width: 50px;
		height: 50px;
		padding-left:2%;
		padding-right:2%;
		display: inline-block;
		text-decoration: none;
	}

	#contactbuttons a img {
		box-shadow: 0px 0px 2px #888888;
		border-radius:150px;
		width: 50px;
		height: 50px;
		display:inline-block;
		-webkit-transition: all .3s ease-in-out;
    	-moz-transition: all .3s ease-in-out;
    	-o-transition: all .3 ease-in-out;
    	transition: all .3s ease-in-out;
	}

	#contactbuttons a img:hover {
		/*margin: -2.5px;
		height: 55px;
		width: 55px;*/
		opacity:0.6;
		filter:alpha(opacity=60); /* For IE8 and earlier */
		-webkit-transition: all .3s ease-in-out;
    	-moz-transition: all .3s ease-in-out;
    	-o-transition: all .3 ease-in-out;
    	transition: all .3s ease-in-out;
	}
