<div class="container" id="footer-inner">
    <div id="contact-buttons">
        <a href="http://www.linkedin.com/pub/scott-archer/92/914/a97" target="_blank"><img src="../dist/assets/images/linkedin_logo.jpg"/></a>
        <a href="https://github.com/Scott41" target="_blank"><img src="../dist/assets/images/github_logo.png"/></a>
        <a href="https://twitter.com/ScottJArcher41" target="_blank"><img class="twitter" src="../dist/assets/images/twitter_logo.png"/></a>
        <p>| © Scott Archer 2015</p>
    </div>
</div>