<div id="home">
    <div class="container">
        <div id="welcome">
            <h1>Welcome</h1>
            <a id="down-arrow" href="#">&darr;</a>
        </div>
        <div id="intro">
            <h2>Introduction</h2>
            <hr>
            <p> My name is Scott Archer. I am a full-stack web developer who makes use of modern web technologies to build complex, scalable web applications and hybrid mobile applications. My aim is to create awesome things while constantly learning more about technology. Come on in! </p>
            <div class="container enter">
                <a id="enter-btn" href="#about">Enter</a>
            </div>
        </div>
        <div id="home-footer" class="center">
            <p>© Scott Archer 2015</p>
        </div>
    </div>
</div>