<div id="menu-bar">
    <ul>
        <li id="index-link" class="menu-btn" tabindex="0">
            <a href="#" tabindex="-1">Home</a>
        </li>
        <li id="about-link" class="menu-btn" tabindex="0">
            <a href="#about" tabindex="-1">About</a>
        </li>
        <li id="projects-link" class="menu-btn" tabindex="0">
            <a href="#projects" tabindex="-1">Projects</a>
        </li>
        <li id="contact-link" class="menu-btn" tabindex="0">
            <a href="#contact" tabindex="-1">Contact</a>
        </li>
    </ul>
</div>