<div class="container">
        <div id="projects">
            <h3>My Projects</h3>
            <hr>
            <div class="project-container">
                <div class="img-column">
                    <img src="../dist/assets/images/home_project.png" id="home-project"/>
                </div>
                <div class="column">
                    <h4>My Portfolio</h4>
                    <p>This website is my first project. Using my knowledge of HTML, CSS, and JavaScript I decided to build myself a personal home page and portfolio. I am using this page as a test site for new design ideas and will be converting code to be more responsive as I learn more.</p>
                    <br>
                    <span class="bold">*Updated August 2015*</span>
                    <span>Libraries and tools used:</span>
                    <br>
                    <div class="tag-field">
                        <span class="tag">Backbone.js</span>
                        <span class="tag">jQuery</span>
                        <span class="tag">Browserify</span>
                        <span class="tag">Sass</span>
                        <span class="tag">Gulp</span>
                    </div>
                </div>
            </div>

            <div class="project-container">
                <div class="img-column">
                    <a href="http://spewingmews.com" target="_blank"><img src="../dist/assets/images/sm.png" id="sm-project"/></a>
                </div>
                <div class="column">
                    <h4>Artist Portfolio</h4>
                    <p>My second completed project. This portfolio/gallery website was built for an artist friend of mine. I used this site to learn more about and practice with front-end/UI design techniques--particulary neat CSS tricks and responsive design.</p>
                    <br>
                    <span>Libraries and tools used:</span>
                    <br>
                    <div class="tag-field">
                        <span class="tag">jQuery</span>
                    </div>
                </div>
            </div>

            <div class="project-container">
                <div class="img-column">
                    <a href="https://github.com/Scott41/Shopper-PhoneGap" target="_blank"><img class="special" src="../dist/assets/images/shopper.png" id="grocery-project"/></a>
                </div>
                <div class="column">
                    <h4>Shopper</h4>
                    <p>A mobile app to help you grocery shop.
                        This app utilizes the PhoneGap/Cordova build process to package a web app as a mobile app. Thus far, I have aimed my UI development towards the iPhone (though iPads don't render things too terribly). <br>
                        I have recently finished the earliest working version of the app. I still have a long list of TODOs such as having a legitimate icon and splash screen icon/image, adding global user options, and to expand the core functionality to allow more detailed grocery lists as well as collecting data on buying habits for the user's benefit.</p>
                    <br>
                    <span>Libraries and tools used:</span>
                    <br>
                    <div class="tag-field">
                        <span class="tag">Backbone.js</span>
                        <span class="tag">Marionette.js</span>
                        <span class="tag">jQuery</span>
                        <span class="tag">Browserify</span>
                        <span class="tag">Sass</span>
                        <span class="tag">PhoneGap</span>
                    </div>
                </div>
            </div>

        </div>

</div>